body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	color: white;
}
#main {
	height: 100%;
	width: 100%;
	background-color: #FFF;
}
#main div {
	overflow: auto;
	
}
#browser {
	border-right: 5px solid #aaa;
	height: 100% !important;
	background: none;
}
#image {
	height: 100% !important;
}
.vsplitbar {
	width: 5px;
	background: #aaa;
	height: 100% !important;
}
.thumbnails {
	display: block !important;
	line-height: auto !important;
	height: auto !important;
}
.thumbnail {
	display: inline-block;
	margin:5px;
	white-space: normal;
	background-color: #F0F0F0;
	background-image:url('throbber.gif');
	background-repeat:no-repeat;
	background-position:center; 
}
.no-icon {
	display: none !important;
	background: none !important;
}
.browser ul {
	border-bottom: 1px solid #F0F0F0;
	border-left: 1px solid #F0F0F0;
	padding-right: 5px !important;
}
.browser>ul {
	border: 0px;
	padding: 5px !important;
}
.browser li {
	padding-bottom: 5px !important;
}
.thumbnail-container {
	white-space: normal;
}
.highlight {
	position: absolute;
	background-color: yellow;
	border-radius:3px;
	padding:6px;
	z-index:-10;
}
.next-image {
	right:0px;
}
.prev-image {
	left:0px;
}
.control {
	font-size: 32pt;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	padding:15px;
	color:white;
	cursor: pointer;
	z-index:20;
	top:50%;
	opacity:0.2;
}
